html, body {
    height: 100%;
    background-image: url("https://il6.picdn.net/shutterstock/videos/2438609/thumb/1.jpg" );
    background-size: cover;
}

.header {
    background-color: bisque;
}
.content-wrapper {
  height: 100%;
    
}

.content-wrapper .sidebar-left {
 background-color: cornflowerblue;   
float: left;
    height: 100%;
    width: 15%;
}


.content-wrapper .content-main {
 background-color :fuchsia; 
float: left;
    height: 100%;
    width: 70%;
}

.content-wrapper  .sidebar-right {
 background-color:grey;  
float: right; 
height: 100%;
width: 15%;
}

    
    
.footer {
    background-color: aqua;
    clear: both;
}

.content-wrapper .sidebar-left a {
    display:block;
}



